<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUserService" />
                <binding name="WSHttpBinding_IProfileService" />
                <binding name="WSHttpBinding_IAdminService" />
                <binding name="WSHttpBinding_ICourierService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CourierManagementSystem/UserService/mex/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserService"
                contract="UserServiceReference.IUserService" name="WSHttpBinding_IUserService">
                <identity>
                    <userPrincipalName value="MEET\MEET PATEL" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CourierManagementSystem/ProfileService/mex/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProfileService"
                contract="ProfileServiceReference.IProfileService" name="WSHttpBinding_IProfileService">
                <identity>
                    <userPrincipalName value="MEET\MEET PATEL" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CourierManagementSystem/AdminService/mex/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAdminService"
                contract="AdminServiceReference.IAdminService" name="WSHttpBinding_IAdminService">
                <identity>
                    <userPrincipalName value="MEET\MEET PATEL" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CourierManagementSystem/CourierService/mex/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICourierService"
                contract="CourierServiceReference.ICourierService" name="WSHttpBinding_ICourierService">
                <identity>
                    <userPrincipalName value="MEET\MEET PATEL" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>