<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProfileService" />
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_ICourierService" />
                <binding name="BasicHttpBinding_IAdminService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CourierManagementSystem/ProfileService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfileService"
                contract="ProfileServiceReference.IProfileService" name="BasicHttpBinding_IProfileService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CourierManagementSystem/UserService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CourierManagementSystem/CourierService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICourierService"
                contract="CourierServiceReference.ICourierService" name="BasicHttpBinding_ICourierService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CourierManagementSystem/AdminService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminService"
                contract="AdminServiceReference.IAdminService" name="BasicHttpBinding_IAdminService" />
        </client>
    </system.serviceModel>
</configuration>